body{
    background-color: #3A3331;
}
header{
    width: 70%;
    background-color: #c79991;
    padding: 20px 5px 0px 5px;
    margin: 15px auto 0px auto;
    border-bottom: #3A3331 solid 2px;
}
header h1{
    display: inline;
    color: wheat;
    font-family: initial;
    text-shadow: #4E332B 0px 5px 10px;
}
header figure{
    display: inline;
    margin-left: 450px;
}
header figure img{
    display: inline-block;
    width: 40px;
    height: auto;

}
section{
    width: 68.4%;
    padding: 15px;
    border-left: #6D4D47 solid 1px ;
    border-right:  #6D4D47 solid 1px;
    border-bottom:  #6D4D47 solid 1px;
    margin: 0px auto 0px auto;
    background-color: lavenderblush;
}
section p{
    text-align: justify;
    font-size: 1.5em;
}